{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>{% block title %}  {% endblock %}</title>
</head> 
<body>
  
  <div class="mr-5 flex justify-end">
    <ul class="mt-5 flex justify-between gap-6 fixed">
      <li><a href="{% url 'index' %}">Home</a></li>
      <div class="">
        <button class="peer">Menu</button>
        <div class="hidden peer-hover:flex hover:flex absolute flex-col">
          <li class="py-4"><a href="{% url 'menu' %}">Food</a></li>
          <li class="py-4"><a href="{% url 'menu' %}">Drink</a></li>
          <li class="py-4"><a href="{% url 'menu' %}">Side</a></li>
        </div>
      </div>
      <li><a href="{% url 'contact_us' %}">Contact</a></li>
      <li><a href="{% url 'customer_login' %}">Login</a></li>
    </ul>
  </div>

  {% block body %}
  {% endblock %}
</body>
</html>