{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>{% block title %}  {% endblock %}</title>
</head> 
<body>
  
  <div class="fixed top-0 left-0 w-full flex justify-between p-3 bg-white opacity-80">
  <div class="mt-1">
    <a href="{% url 'index' %}"><i class="fa-solid fa-burger fa-lg">Jresto</i></a>
  </div>
  <ul class="mt-1 flex justify-between gap-20">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'contact_us' %}">Contact</a></li>
  </ul>
  <div class="mt-1 flex justify-between gap-10">
    {% if request.user.is_authenticated and request.user.user_level == "Customer" %}
    <div class=""><a href="">PHP {{customer_cash}}</a></div>
    <div class="">
      <a href="{% url 'check_cart' %}">
        {% if cart_quantity == None %}
        {% else %}
        {{cart_quantity}}
        {% endif %}
         <i class="fa-solid fa-cart-shopping"></i></a>
    </div>
      <a href="{% url 'user_edit' request.user.uid %}">{{request.user.username}}</a>
    <a href="{% url 'user_logout' %}">Logout</a>

    {% elif request.user.is_authenticated and request.user.user_level == "Admin" %}
    <a href="{% url 'admin_menu' %}">{{request.user.user_level}}</a>
    <a href="{% url 'user_logout' %}">Logout</a>
    
    {% else %}
    <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
  </div>
</div>

  {% block body %}
  {% endblock %}
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
</body>
</html>