{% extends 'base/base.html' %}
{% load static %}
{% block title %} Jresto Drink {% endblock %}
{% block body %}

<div class="flex flex-row justify-center items-center mt-20">
    <div class="w-120 p-6 shadow-2xl bg-slate-600 border-2 border-red-800">
        <img src="{% static 'img/food/drink/6.png' %}">
        <img src="{% static 'img/food/drink/1.png' %}">
        <img src="{% static 'img/food/drink/2.png' %}">
        <img src="{% static 'img/food/drink/3.png' %}">
        <img src="{% static 'img/food/drink/4.png' %}">
        <img src="{% static 'img/food/drink/5.png' %}">
    </div>
</div>

{% endblock %}