{% extends 'base/base.html' %}
{% load static %}
{% block title %} Jresto Side {% endblock %}
{% block body %}

<div class="flex flex-row justify-center items-center mt-20">
    <div class="w-120 p-6 shadow-2xl bg-slate-600 border-2 border-red-800 gap-5">
        <div class="mt-3">
        <img src="{% static 'img/food/side/1.png' %}">
        </div>
        <img src="{% static 'img/food/side/2.png' %}">
        <img src="{% static 'img/food/side/3.png' %}">
        <img src="{% static 'img/food/side/4.png' %}">
        <img src="{% static 'img/food/side/5.png' %}">
    </div>
</div>


{% endblock %}