{% extends 'base/base.html' %}


{% block title %} Customer Login {% endblock %}
{% block body %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-96 p-6 shadow-lg bg-gray-200 rounded-md">
            <h1 class="text-3x1 block text-center font-semibold"><i class="fa-solid fa-user"></i> Customer Login</h1>
            <hr class="mt-3">
            <div class="mt-3">
                <label for="username" class="block test-base mb-2">Username:</label>
                <input type="text" id="admin_user" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
            </div>
            <div class="mt-3">
                <label for="password" class="block test-base mb-2">Password:</label>
                <input type="text" id="admin_password" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
            </div>
            <div class="mt-3 flex justify-between items-center">
                <div class="">
                    <input type="checkbox" name="remember_user">
                    <label for="Remember Me?">Remember Me</label>
                </div>
                <div>
                    <a href="{% url 'customer_register' %}" class="text-indigo-950 ">Don't have an account?</a>
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 w-full hover:bg-red-700 hover:border-red-700 rounded-md">Login</button>
            </div>
        </div>
    </div>
{% endblock %}