<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="flex justify-center items-center h-screen bg-gray-700 max-md:h-full max-md:mt-20">
            <div class="w-96 p-6 shadow-lg bg-white rounded-md">
                <h1 class="text-3x1 block text-center font-semibold"><i class="fa-solid fa-user"></i> Register Admin</h1>
                <hr class="mt-3">
                <div class="mt-3">
                    <label for="admin_first_name" class="block test-base mb-2">First Name:</label>
                    <input type="text" id="admin_firstname" name="admin_firstname" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3">
                    <label for="admin_lastname" class="block test-base mb-2">Last Name:</label>
                    <input type="text" id="admin_lastname" name="admin_lastname" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3">
                    <label for="admin_user" class="block test-base mb-2">Username:</label>
                    <input type="text" id="admin_user" name="admin_user" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3">
                    <label for="admin_email" class="block test-base mb-2">Email Address:</label>
                    <input type="email" id="admin_email" name="admin_email" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3">
                    <label for="admin_password" class="block test-base mb-2">Password:</label>
                    <input type="password" id="admin_password" name="admin_password" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3">
                    <label for="admin_confirm_password" class="block test-base mb-2">Confirm Password:</label>
                    <input type="password" id="admin_confirm_password" name="admin_confirm_password" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-3 flex justify-end">
                    <div>
                        <a href="{% url 'admin_login' %}" class="text-indigo-950 ">Already have an account?</a>
                    </div>
                </div>
                <div class="mt-5 flex justify-between items-center">
                    <a href="{% url 'index' %}" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md">Back</a>
                    <button type="submit" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md">Register</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>