{% extends 'base/base.html' %}
{% load static %}
{% block title %} Admin Feedback {% endblock %}
{% block body %}

<div class="flex flex-col justify-center items-center mx-64 my-80 gap-5">
    <div class="flex flex-col w-full">
        <form method="POST" action="{% url 'admin_feedback' %}">
            {% csrf_token %}
            <div class="flex flex-row justify-between">
                <div class=""> 
                    <label for="no_of_display" class="block test-base mb-2">No. of display:</label>
                    <select id="no_of_display" name="no_of_display" class="border w-[150%] text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                        <option selected>5</option>
                        <option>10</option>
                        <option>15</option>
                    </select>
                </div>
                <div class="">
                    <label for="feedback_sort" class="block test-base mb-2">Sort by:</label>
                    <select id="feedback_sort" name="feedback_sort" class="border w-[150%] text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                        <option selected>Date Created</option>
                        <option>Name</option>
                        <option>Email</option>
                    </select>
                </div>
                <div class="">
                    <label for="feedback_category" class="block test-base mb-2">Category:</label>
                    <select id="feedback_category" name="feedback_category" class="border w-[150%] text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                        <option selected>All</option>
                        <option>Name</option>
                        <option>Email</option>
                    </select>
                </div>
                <div class="">
                    <label for="feedback_search" class="block test-base mb-2">Search:</label>
                    <input id="feedback_search" name="feedback_search" class="border w-[150%] text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                </div>
                <div class="mt-[30px] text-left">
                    <button type="submit" class="border-2 bg-indigo-700 border-indigo-700 text-white px-10 py-1 w-[100%] hover:bg-red-700 hover:border-red-700 rounded-md"><i class="fa-solid fa-magnifying-glass"></i> Set</button>
                </div>
            </div>
        </form>
    </div>

    <div class="flex justify-center w-full border-t-2 border-l-2 border-r-2 border-black">
        <table class="table w-full">
            <thead class="text-left border-b-2 border-black bg-slate-500">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact number</th>
                <th>Message</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for feedback in feedback_list %}
                <tr class="border-b-2 even:bg-slate-300 border-black">
                    <td>{{feedback.id}}.</td>
                    <td>{{feedback.name}}</td>
                    <td>{{feedback.email}}</td>
                    <td>{{feedback.contact_number}}</td>
                    <td>{{feedback.message}}</td>
                    <td>{{feedback.date_created}}</td>
                    <td><a href="{% url 'admin_feedback_delete' feedback.id %}"><i class="fa-solid fa-trash pl-4" ></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                 
    </div>
    <div>
        <a href="?page=1">First</a>
        {% if feedback_list.has_previous %}
        <a href="?page={{feedback_list.previous_page_number}}">Previous</a>
        {% endif %}

        {% for current_page in feedback_list.paginator %}
            {% if current_page.number == page_number %}
            <a class="bg-red-300" href="?page={{current_page.number}}">{{current_page.number}}</a>
            {% else %}
            <a href="?page={{current_page.number}}">{{current_page.number}}</a>
            {% endif %}
        {% endfor %}

        {% if feedback_list.has_next %}
            <a href="?page={{feedback_list.next_page_number}}">Next</a>
        {% endif %}
            <a href="?page={{feedback_list.paginator.num_pages}}">Last</a>
    </div>
</div>

{% endblock %}