{% extends 'base/base.html' %}
{% load static %}
{% block title %} Admin Feedback {% endblock %}
{% block body %}

<div class="flex flex-col justify-center items-center h-screen gap-5">
    {% if success == False %}
    <div class="w-1/2 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert" id="dismissableAlert">
        <span class="block sm:inline">sample</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" id="dismissButton">
          <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
      <script type="text/javascript" src="{% static 'js/alertmessage.js' %}"></script>
      {% endif %}
    <div class="flex justify-center w-1/2 ">
        <table class="table w-full">
            <thead class="text-left">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact number</th>
                <th>Message</th>
                <th>Date Created</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for feedback in feedback_list %}
                <tr class="border-t-2 border-b-2 border-black">
                    <td>{{feedback.id}}.</td>
                    <td>{{feedback.name}}</td>
                    <td>{{feedback.email}}</td>
                    <td>{{feedback.contact_number}}</td>
                    <td>{{feedback.message}}</td>
                    <td>{{feedback.date_created}}</td>
                    <td><a href="{% url 'menu_product_edit' feedback.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'admin_feedback_delete' feedback.id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                 
    </div>
    <div>
    {% if feedback_list.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ feedback_list.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ feedback_list.number }} of {{ feedback_list.paginator.num_pages }}

    {% if feedback_list.has_next %}
        <a href="?page={{ feedback_list.next_page_number }}">Next</a>
        <a href="?page={{ feedback_list.paginator.num_pages }}">Last &raquo</a>
    {% endif %}
    </div>
</div>

{% endblock %}