{% extends 'base/base.html' %}
{% load static %}
{% block title %} Admin Products {% endblock %}
{% block body %}

<div class="flex flex-col justify-center items-center h-screen gap-5">
    <div class="w-1/2 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert" id="dismissableAlert">
        <span class="block sm:inline">sample</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" id="dismissButton">
          <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
      <script type="text/javascript" src="{% static 'js/alertmessage.js' %}"></script>
    <div class="flex justify-center border-2 border-black w-1/2">
    
        <table class="table w-full ">
            <thead class="text-left">
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for food in foods %}
                <tr class="border-t-2 border-b-2 border-black">
                    <td>{{food.product_id}}</td>
                    <td>{{food.name}}</td>
                    <td>{{food.price}}</td>
                    <td>{{food.date_created}}</td>
                    <td>{{food.date_updated}}</td>
                    <td><a href="{% url 'menu_product_edit' food.product_id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'menu_product_delete' food.product_id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            {% for drink in drinks %}
                <tr class="border-t-2 border-b-2 border-black">
                    <td>{{drink.product_id}}</td>
                    <td>{{drink.name}}</td>
                    <td>{{drink.price}}</td>
                    <td>{{drink.date_created}}</td>
                    <td>{{drink.date_updated}}</td>
                    <td><a href="{% url 'menu_product_edit' drink.product_id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'menu_product_delete' drink.product_id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            {% for side in sides %}
                <tr class="border-t-2 border-black">
                    <td>{{side.product_id}}</td>
                    <td>{{side.name}}</td>
                    <td>{{side.price}}</td>
                    <td>{{side.date_created}}</td>
                    <td>{{side.date_updated}}</td>
                    <td><a href="{% url 'menu_product_edit' side.product_id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'menu_product_delete' side.product_id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
{% endblock %}