{% extends 'base/base.html' %}
{% load static %}
{% block title %} Admin Products {% endblock %}
{% block body %}

<div class="flex flex-col justify-center items-center h-screen gap-5">
    {% if success == False %}
    <div class="w-1/2 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative" role="alert" id="dismissableAlert">
        <span class="block sm:inline">sample</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" id="dismissButton">
          <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
      <script type="text/javascript" src="{% static 'js/alertmessage.js' %}"></script>
      {% endif %}

    <div class="flex flex-col w-full">
        <form method="POST" action="{% url 'menu_product' %}">
            {% csrf_token %}
            <div class="w-full b"> 
                <label for="product_type" class="block test-base mb-2">Product Type:</label>
                <select id="no_of_display" name="no_of_display" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                    <option selected>5</option>
                    <option>10</option>
                    <option>15</option>
                </select>
            </div>
            <div class="">
                <label for="product_type" class="block test-base mb-2">Product Type:</label>
                <select id="product_filter" name="product_filter" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                    <option selected>All</option>
                    <option>Meal</option>
                    <option>Drink</option>
                    <option>Side</option>
                </select>
            </div>
            <div class="">
                <label for="product_type" class="block test-base mb-2">Product Type:</label>
                <select id="product_sort" name="product_sort" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
                    <option selected>Date Created</option>
                    <option>Date Updated</option>
                    <option>Name</option>
                    <option>Product Type</option>
                </select>
            </div>
            <div class="mt-5">
                <button type="submit" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 w-1/6 hover:bg-red-700 hover:border-red-700 rounded-md">Filter</button>
            </div>
        </form>
    </div>

    <div class="flex justify-center border-2  border-black w-full">
        <table class="table w-full ">
            <thead class="text-left">
            <tr>
                <th>UID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in product_list %}
                <tr class="border-t-2 border-b-2 border-black">
                    <td>{{product.product_id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.product_type}}</td>
                    <td>{{product.date_created}}</td>
                    <td>{{product.date_updated}}</td>
                    <td><a href="{% url 'menu_product_edit' product.product_id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="{% url 'menu_product_delete' product.product_id %}"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="?page=1">First</a>
        {% if product_list.has_previous %}
        <a href="?page={{product_list.previous_page_number}}">Previous</a>
        {% endif %}

        {% for current_page in product_list.paginator %}
            {% if current_page.number == page_number %}
            <a class="bg-red-300" href="?page={{current_page.number}}">{{current_page.number}}</a>
            {% else %}
            <a href="?page={{current_page.number}}">{{current_page.number}}</a>
            {% endif %}
        {% endfor %}

        {% if product_list.has_next %}
            <a href="?page={{product_list.next_page_number}}">Next</a>
        {% endif %}
            <a href="?page={{product_list.paginator.num_pages}}">Last</a>
    </div>
</div>
{% endblock %}