{% extends 'base/base.html' %}
{% load static %}
{% block title %} Admin Menu {% endblock %}
{% block body %}
<div class="flex justify-center items-center h-screen max-lg:gap-5 max-lg:h-full max-lg:mt-12 ">
    <div class="grid grid-cols-3 max-lg:grid-cols-1 gap-y-5 mt-10 gap-x-20">
        <div class="w-96 p-6 shadow-lg bg-gray-200 rounded-md min-w-[24rem]"> 
            <h1 class="text-3x1 block text-center font-semibold">Add Product</h1>
            <br>
            <a href="{% url 'menu_product_add' %}"><img class="hover:opacity-75" src="{% static 'img/food/menu/food.png' %}"></a>
            <div class="mt-5">
                <a href="{% url 'menu_product_add' %}"><button class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md w-full">SELECT</button></a>
            </div>
        </div>
        <div class="w-96 p-6 shadow-lg bg-gray-200 rounded-md min-w-[24rem]"> 
            <h1 class="text-3x1 block text-center font-semibold">Edit Product</h1>
            <br>
            <a href="{% url 'menu_product' %}"><img class="hover:opacity-75" src="{% static 'img/food/menu/drink.png' %}"></a>
            <div class="mt-5">
                <a href="{% url 'menu_product' %}"><button class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md w-full">SELECT</button></a>
            </div>
        </div>
        <div class="w-96 p-6 shadow-lg bg-gray-200 rounded-md min-w-[24rem]"> 
            <h1 class="text-3x1 block text-center font-semibold">Check Feedback</h1>
            <br>
            <a href="{% url 'admin_feedback' %}"><img class="hover:opacity-75" src="{% static 'img/ui/feedback.jpg' %}"></a>
            <div class="mt-5">
                <a href="{% url 'admin_feedback' %}"><button class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md w-full">SELECT</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}