{% extends 'base/base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block body %}

<div class="flex flex-col justify-center items-center mx-64 my-80 gap-5">
    <div class="flex flex-col justify-center w-full">
        <table class="table w-full">
            <thead class="border-2 border-black bg-slate-500">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody class="text-center border-l-2 border-r-2 border-black">
                {% for orderitem in orderitems %}
                    <tr class="border-b-2 border-black">
                        <td><img src="{{orderitem.product.imageURL}}" class="w-20 ml-auto mr-auto" alt=""></td>
                        <td>{{orderitem.product.name}}</td>
                        <td>{{orderitem.product.price}}</td>
                        <td>{{orderitem.quantity}}
                            <a href="{% url 'update_cart' orderitem.product.name %}" class="text-indigo-400 text-lg hover:text-red-700">edit</a>
                        </td>
                        <td>{{orderitem.get_total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{total_cart_value}}</th>
                </tr>
            </tfoot>
        </table>
        <div class="self-end mt-5">
            <a href="{% url 'checkout' %}" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md">Checkout</a>
        </div>
    </div>
</div>
{% endblock %}