{% extends 'base/base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block body %}

<div class="flex flex-row mt-20 gap-5">
    <div class="flex justify-center border-2 border-black w-1/2">
        Image
    </div>
    <div class="flex justify-center border-2 border-black w-1/2">
        Product
    </div>
    <div class="flex justify-center border-2 border-black w-1/2">
        Price
    </div>
    <div class="flex justify-center border-2 border-black w-1/2">
        Quantity
    </div>
    <div class="flex justify-center border-2 border-black w-1/2">
        Total
    </div>
</div>

{% for orderitem in orderitems %}
<div class="flex flex-row mt-5 gap-5">
    <div class="flex justify-center items-center border-2 border-black w-1/2">
    <img src="{{orderitem.product.imageURL}}" class="w-20" alt="">
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        {{orderitem.product.name}}
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        {{orderitem.product.price}}
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        {{orderitem.quantity}}
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        {{orderitem.get_total}}
        
    </div>
</div>
{% endfor %}
<div class="flex flex-row mt-5 gap-5">
    <div class="flex items-center border-2 border-black w-1/2">
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        Total: {{total_cart_items}}
    </div>
    <div class="flex items-center border-2 border-black w-1/2">
        Total: {{total_cart_value}}
    </div>
</div>
{% endblock %}