{% extends 'base/base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block body %}

<div class="flex flex-row mt-20 gap-5 m-20">
    <div class="flex flex-col border-red-400 border-2 w-1/2 gap-5 font-bold text-sm">
        <form action="">
        <div class="text-lg">
            Delivery Information
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">First Name:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Last Name:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Address:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Province:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">City:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Barangay:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Zip Code:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="text-lg">
            Contact Information
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Email:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="">
            <label for="product_quantity" class="block test-base mb-2">Contact Number:</label>
            <input type="text" id="product_quantity" name="product_quantity" min="0" value="{{orderitems.quantity}}" class="border w-full text-base px-2 py-1 focus:outline-none focus:border-gray-600 rounded-md">
        </div>
        <div class="flex justify-end mt-5 font-normal">
            <button type="submit" class="border-2 bg-indigo-700 border-indigo-700 text-white py-1 px-5 hover:bg-red-700 hover:border-red-700 rounded-md">Confirm Transaction</button>
        </div>
    </form>
    </div>
    
    <div class="flex flex-col border-red-400 border-2 w-1/2 gap-5">
        <div class="">
            Order Summary
        </div>
        <div class="div">
            Product Pending
        </div>
        <div class="flex flex-row gap-5">
            <div class="">sad</div>
            <div class="">sad</div>
            <div class="">sad</div>
        </div>
        <div class="border-2">
            asd
        </div>
    </div>
</div>
{% endblock %}